body {
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header h1 {
    text-align: center;
    color: #333;

}

form {
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgb(255, 255, 255);
    width: 300px;
}

label {
    font-size: 14px;
    margin-bottom: 8px;
    display: block;
}

input[types="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="sumbit"] {
    background-color: darkgreen;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type="sumbit"]:hover {
    background-color: green;
}